/*
 Simple Grey theme for Piwigo
*/

body {
  font: 75% "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  background-color: #333;
  color: #999;
}

img { max-width: 100%; }
hr { border: 1px #999 solid; }

a {
  color: #999;
  text-decoration: none;
}
a:hover, #menuswitcher:hover, #theComments h3:hover {
  color: #f0f0f0;
}

h1 { font-size: 1.6em; }
h2, h3 { font-size: 1em; }

h2, h3, #menubar dt {
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-weight: bold;
}

/* hide javascript stuff */

.js #theComments > div {
  display: none;
}

/* Layout */

#content {
  margin: 2em 0;
  min-height: 25em;
}

#theHeader {
  margin: 1em 0;
  position: relative;
}

#copyright {
  margin: 1em 0;
  font-variant: small-caps;
  text-transform: lowercase;
}

#menu-link {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 1em;
}

.titrePage {
  margin: 1em 0;
  line-height: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
}
.titrePage h2 {
  display: inline;
}

.subcontent h2 {
  margin: 0 0 1em;
}

.titrePage .button {
  float: none;
}

.titrePage img {
  max-height: 16px;
  margin: 0 5px;
}

.titrePage .categoryActions {
  float: right;
  width: auto;
}

.categoryActions li {
  display: inline;
}

#content {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 1em 2em;
  margin: 1em 0;
}

/* tags */

.tagLevel5 { font-size: 130%; }
.tagLevel4 { font-size: 120%; }
.tagLevel3 { font-size: 110%; }
.tagLevel2 { font-size: 100%; }
.tagLevel1 { font-size: 90%; }

#fullTagCloud {
  text-align: center;
  margin: 1em 2em;
}

#fullTagCloud span {
  white-space: nowrap;
  margin: 0 0.5em;
}
#fullTagCloud a { padding: 2px; }
#fullTagCloud a:hover { background: #606060; }

.tagLetter table {
  width: 100%;
}
.tagLetter td {
  padding: 0.1em 1em 0.1em 0;
}

/* .tagSelection li { */
/*   display: inline; */
/* } */

.nbEntries {
  text-align: right;
}

/* Messages */

.errors, .infos {
  margin: 1em;
  padding: 1em;
}

.errors {
  border: 2px solid #A04040;
  color: #A04040;
}
.errors a {
  color: #FF0000;
  font-weight: bold;
}

.infos {
  border: 2px solid #40A040;
  color: #40A040;
}
.infos a {
  color: #00FF00;
  font-weight: bold;
}

/* Forms */

.mandatorystar { color: #e04040; }
fieldset li { margin: 0.5em 0; }
form li { margin: 0.2em 0; }

#quicksearch { margin: 1em 0; }
#quicksearch #q { margin-bottom: 0; }

.property {
  display: inline-block;
  width: 180px;
}

/* Menubar */

#menubar {
  position: relative;
  padding: 1em 0;
}
#menubar ul { padding: 1em 0; }
#menubar ul ul { padding-left: 1em; }

.totalImages {
  font-style: italic;
}

/* images thumbnails */

#thumbnails {
  width: auto;
  text-align: center;
  padding: 1em 0;
  font-weight: bold;
}
#thumbnails ul, .middle_block > ul {
  overflow: hidden;
}
#thumbnails li, .middle_block > ul li {
  margin: 1em;
  display: inline-block;
  vertical-align: middle;
}

.nb-comments, .nb-hits { font-weight: normal; }
.zero { display: none; }

/* image styles */

#theImage img, .illustration img, .thumbnail,
#navThumbPrev img, #navThumbNext img {
  -moz-transition-duration: 0.2s;
  -moz-transition-property: opacity;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.illustration a:hover img, .thumbnail:hover,
#navThumbPrev img:hover, #navThumbNext img:hover {
  opacity: 0.5;
}

/* categories thumbnails */

.thumbnailCategories {
  overflow: hidden;
}

.thumbnailCategories li {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 1em;
  width: 29%;
  text-align: center;
}

.illustration {}
.description  { overflow: auto; }

.thumbCatDesc {
  padding-top: 4px;
  word-wrap: break-word;
  border-top: 1px #606060 solid;
  text-align: justify;
}
.thumbCatDescNfoDate, .thumbCatDescNbImg {
  font-size: 80%;
}

/* page : title bar */

#additional_info {
  margin: 1em 0;
}

.navigationBar { text-align: center; }
.navigationBar a { border-bottom: 1px dotted; }
.pageNumberSelected { font-weight: bold; }

/* pictures pages */

.imageNumber {
  float: right;
  padding: 0 3px;
  font-size: 0.9em;
  border: 1px #999 solid;
}

.navButtons {
  font-size: 1.5em;
  text-align: center;
}

#navThumbPrev, #navThumbNext {
  text-align: center;
  margin: 1em auto;
}

#imageToolBar {
  height: 25px;
}

#imageInfoBar {
  float: right;
  clear: right;
  width: 25%;
}

#imageInfos dt, #imageMeta dt {
  font-weight: bold;
}
#imageInfos dd, #imageMeta dd {
  margin-left: 1em;
  overflow: hidden;
}

#theImage {
  float: left;
  width: 75%;
  text-align: center;
  padding: 1em 0 2em;
  margin: 0 auto;
  overflow: hidden;
}
#theImage p {
  margin: 1em;
}

#rateForm input, #rateForm input:active {
  border: none;
  padding: 0;
}
#rateForm input.rateButtonStarFull  {
  background:  url('../icon/rating-stars.png') no-repeat scroll -16px center;
  width: 16px;
}
#rateForm input.rateButtonStarEmpty {
  background:  url('../icon/rating-stars.png') no-repeat scroll 0 center;
  width: 16px;
}

/* slideshow */

#slideshow {
  margin: 1em auto;
}
#slideshow .titrePage {
  width: 600px;
  margin: 0 auto;
}

#slideshow .navButtons {
  display: inline;
  font-size: 1em;
  float: right;
  margin-right: 1em;
}
#slideshow #theImage {
  float: none;
  width: 100%;
}

/* comments */

#theComments h3 {
  cursor: pointer;
}

#commentAdd input[type="text"], #commentAdd textarea {
  width: 95%;
}

ul.actions {
  float: right;
}

#commentList li {
  padding: 0 0 1em;
}
#commentList li ul {
  padding: 4px;
}
#commentList .author {
  font-weight: bold;
  font-variant: small-caps;
}
#commentList .date {
  font-style: italic;
}

#theCommentsPage #comments li {
  display: table-row;
}
#theCommentsPage form label {
  display: inline-block;
  line-height: 25px;
}

#comments .description {
  vertical-align: top;
  display: inline-block;
}
#comments .illustration {
  display: inline-block;
}

/* calendar */

.calendarViews, .calendarCalBar {
  margin: 1em 0;
}

.calCalHead {
  font-size: 1.1em;
  font-weight: bold;
}

.calMonth {
  width: 80%;
  margin: 1em auto;
}
.calMonth td {
  background-color: #363636;
  text-align: center;
}

.calImg {
  text-align: center;
}
.calImg img {
  height: 80px;
}

.calendarBar {
  text-align: center;
}
.calendarBar span {
  margin: 0 0.5em;
}

.calBackDate, .calForeDate {
  display: none;
}

/* PWG stuff */

.personal_block { padding: 0 !important; }


/*  */

@media only screen and (max-width: 957px) {

  #thePicturePage #content {
    position: relative;
  }

  #theImage {
    width: 100%;
    float: none;
  }

  #imageInfoBar {
    float: none;
    clear: both;
    width: 100%;
    margin: 0 10px;
  }
  #navThumbPrev, #navThumbNext {
    float: left;
    margin: 1em;
  }
}
