/*
 Simple Grey theme for Piwigo
*/
/* main styles */
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #303030;
  color: #bbbbbb;
  padding-top: 40px;
}
hr {
  border: 1px #bbbbbb solid;
}
figure {
  margin: 0 0 0 20px;
}
a {
  color: #bbbbbb;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #f0f0f0;
}
h1,
h2,
h3,
h4 {
  /* font-family: 'Neuton', serif; */

  color: #e0e0e0;
  text-shadow: 1px 1px 3px #000000;
  /* font-weight: normal; */

}
h1 a,
h2 a,
h3 a,
h4 a {
  color: #e0e0e0;
}
/* Layout */
#content {
  min-height: 25em;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#theHeader {
  margin: 1em 0;
  position: relative;
}
#copyright {
  margin: 1em 0;
  font-variant: small-caps;
  text-transform: lowercase;
}
.titrePage {
  margin: 0 20px 20px 20px;
  padding-top: 10px;
}
.titrePage h2, .titrePage p, .titrePage ul {
  display: inline;
  line-height: 25px;
}
.titrePage .headerActions {
  float: right;
}
.titrePage .headerActions li {
  display: inline-block;
}
.titrePage .button {
  float: none;
}
.titrePage img {
  max-height: 16px;
  margin: 0 5px;
}
.titrePage .categoryActions {
  float: right;
  width: auto;
}
.categoryActions li {
  display: inline;
}
/* tags */
.tagLevel5 {
  font-size: 130%;
}
.tagLevel4 {
  font-size: 120%;
}
.tagLevel3 {
  font-size: 110%;
}
.tagLevel2 {
  font-size: 100%;
}
.tagLevel1 {
  font-size: 90%;
}
#fullTagCloud {
  text-align: center;
  margin: 1em 2em;
}
#fullTagCloud span {
  white-space: nowrap;
  margin: 0 0.5em;
}
.tagLetter table {
  width: 100%;
}
.tagLetter td {
  padding: 0.1em 1em 0.1em 0;
}
.nbEntries {
  text-align: right;
  color: #888888;
}
/* Forms */
form.filter {
  margin: 0 20px 18px;
  padding-bottom: 20px;
}
legend {
  color: #bbbbbb;
  border-color: #bbbbbb;
}
label {
  color: #bbbbbb;
}
input, textarea, select {
  background-color: #303030;
  border: 1px solid #888888;
  color: #bbbbbb;
}
.tagSelection li {
  display: inline-block;
  margin-left: 1em;
}
.mandatorystar {
  color: #e04040;
}
/* .property { */
/*   display: inline-block; */
/*   width: 180px; */
/* } */
/* Menubar */
.menuInfoCat, .menuInfoCatByChild {
  color: #888888;
  float: right;
  font-style: italic;
}
.selected {
  font-weight: bold;
}
/* images thumbnails */
#thumbnails {
  text-align: center;
}
#thumbnails ul {
  margin: 0 20px 9px;
}
#thumbnails li {
  margin: 1em;
  display: inline-block;
  vertical-align: middle;
}
#thumbnails figure {
  margin-left: 0;
}
#thumbnails figcaption {
  font-weight: bold;
  max-width: 12em;
  margin: 0 auto;
}
.thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.nb-comments, .nb-hits {
  font-weight: normal;
}
.zero {
  display: none;
}
/* image styles */
#theImage img, .illustration img, .thumbnail {
  -moz-transition-duration: 0.2s;
  -moz-transition-property: opacity;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.illustration a:hover img, .thumbnail:hover {
  opacity: 0.5;
}
/* categories thumbnails */
.thumbnailCategories {
  text-align: center;
  overflow: hidden;
}
/* page : title bar */
#additional_info {
  margin: 1em;
}
.navigationBar {
  text-align: center;
  color: #888888;
  padding: 20px;
}
.pageNumberSelected {
  font-weight: bold;
}
/* pictures pages */
.navButtons {
  font-size: 1.5em;
  text-align: center;
}
#theImage {
  text-align: center;
  margin: 2em 0;
}
#theImage a, #theImage img {
  display: inline-block;
  font-size: 3em;
  vertical-align: middle;
}
#theImage .imgNext, #theImage .imgPrev {
  padding: 0.5em;
}
#theImage .imgNext {
  padding-right: 0.1em;
}
#theImage .imgPrev {
  padding-left: 0.1em;
}
#theImage figcaption {
  margin: 1em;
}
/* rating */
#rating {
  float: right;
  margin-right: 20px;
}
#rateForm {
  display: inline-block;
  margin-bottom: 0;
}
#rateForm input, #rateForm input:active {
  border: none;
  padding: 0;
  margin: 0;
}
#rateForm input.rateButtonStarFull {
  background: url('../icon/rating-stars.png') no-repeat scroll -16px center;
  width: 16px;
}
#rateForm input.rateButtonStarEmpty {
  background: url('../icon/rating-stars.png') no-repeat scroll 0 center;
  width: 16px;
}
/* Tabs */
.tab-pane {
  padding: 0 20px 10px;
}
.nav > li > a:hover {
  background-color: #333;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
  background-color: #0088CC;
  color: #FFFFFF;
}
/* comments */
#commentAdd input[type="text"], #commentAdd textarea {
  width: 95%;
}
ul.actions {
  float: right;
}
#commentList li {
  padding: 0 0 1em;
}
#commentList li ul {
  padding: 4px;
}
.author {
  font-weight: bold;
  font-variant: small-caps;
}
.date {
  font-style: italic;
}
#theCommentsPage form.filter label {
  display: inline-block;
}
#comments .illustration {
  text-align: right;
}
/* calendar */
.calendarViews, .calendarCalBar {
  margin: 1em 0;
}
.calendarBar {
  text-align: center;
}
.calendarBar span {
  margin: 0 0.5em;
}
.calCalHead {
  font-size: 1.1em;
  font-weight: bold;
}
.calMonth {
  margin: 1em auto;
}
.calMonth td {
  text-align: center;
}
.calImg {
  text-align: center;
}
.calImg img {
  height: 80px;
}
.calBackDate, .calForeDate {
  display: none;
}
/* dropdown */
.navbar .dropdown-menu {
  background-color: #2C2C2C;
}
.navbar .dropdown-menu:after {
  border-bottom: 6px solid #2C2C2C;
}
.navbar .dropdown-menu a {
  color: #999;
}
.navbar .dropdown-menu .divider {
  background-color: #333;
  border-bottom: 1px solid #333;
}
/* PWG stuff */
.personal_block {
  padding: 0 !important;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  #thePicturePage #content {
    position: relative;
  }
  .thumbnailCategories {
    padding: 0 14px;
  }
  #theImage {
    width: 100%;
    float: none;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto !important;
  }
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .container .column, .container .columns {
    float: left;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  
}
