/*
 CSS for all pages
*/

body {
  font: 75% "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

img { border: 0; max-width: 100%; }
a { text-decoration: none; }
hr { border: 1px #999999 solid; }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
h1 { font-size: 1.6em; }

#menuswitcher {
  cursor: pointer;
}

/* hide javascript stuff */

.js #menubar, .js #theComments > div {
  display: none;
}

/* Layout */

#the_page {
  width: 85%;
  margin: 0 auto;
  padding: 0;
}

#theHeader h1 {
  padding: 1em 0 0;
}
#theHeader p {
  padding: 0;
  margin: 0;
}

.titrePage {
  margin: 1em 0;
  line-height: 1.5em;
}

.titrePage h2 {
  margin: 1em 0;
  padding: 0;
  display: inline;
}
.subcontent h2 {
  margin: 0 0 1em;
}

.titrePage .button {
  float: none;
}

.titrePage img {
  float: left;
  max-height: 16px;
  margin: 0 5px;
}

.titrePage .categoryActions {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
}

.categoryActions li {
  display: inline;
}

#content {
  margin: 1em 0 0;
  padding: 1em;
}

/* tags */

.tagLevel5 { font-size: 130%; }
.tagLevel4 { font-size: 120%; }
.tagLevel3 { font-size: 110%; }
.tagLevel2 { font-size: 100%; }
.tagLevel1 { font-size: 90%; }

#fullTagCloud {
  text-align: center;
  margin: 1em 2em;
}

#fullTagCloud span {
  white-space: nowrap;
  margin: 0 0.5em;
}

#fullTagCloud a {
  padding: 2px;
}

.tagLetterContent {
  width: 100%;
}

.tagSelection li {
  display:  inline;
}

/* Messages */

.errors, .infos {
  color: #e04040;
  border: 1px dashed;
  margin: 1em;
}

/* Forms */

form {
  margin: 0;
}

#content form li, .subcontent form li {
  list-style: none;
  margin: 0.2em 0;
}

.property {
  display: inline-block;
  width: 180px;
}

#quicksearch {
  margin: 1em 0 0;
}
#quicksearch p {
  margin: 0;
}
#quicksearch #q {
  width: 150px;
}

/* Menubar */

#menubar {
  margin: 0 2em 0 0;
  padding: 0;
  float: left;
  width: 15%;
}

#menubar ul {
  margin: 0;
  padding: 1em 0 1em 2em;
}
#menubar dd {
  margin: 0;
  padding: 0;
}

#menubar ul ul {
 margin: 0;
 padding: 0 0 0 1em;
}

/* images thumbnails */

#thumbnails {
  width: auto;
  text-align: center;
  padding: 1em 0;
}

#thumbnails ul, .middle_block > ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

#thumbnails li, .middle_block > ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.nb-comments, .nb-hits {
  font-weight: normal;
  display: block;
}
.zero {
  display: none;
}

/* categories thumbnails */

.thumbnailCategories {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.thumbnailCategories li {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 1em;
  width: 29%;
  text-align: center;
}

.illustration {
}

.description {
  overflow: auto;
}

.description h3 {
  margin: 0;
}

.thumbCatDescNfoDate, .thumbCatDescNbImg {
  margin: 0;
  font-size: 80%;
}

.thumbCatDesc {
  margin: 0;
  padding-top: 4px;
  word-wrap: break-word;
}

/* page : title bar */

#additional_info {
  margin: 1em 5em;
}

.navigationBar {
  padding: 0.5em;
  text-align: right;
}

/* pictures pages */

#thePicturePage #theHeader {
  display: none;
}
#thePicturePage #content {
  padding: 1em 0 0;
}

.imageNumber {
  float: right;
  padding: 0 3px;
  font-size: 0.9em;
}

.navButtons {
  font-size: 1.5em;
  text-align: center;
}

#navThumbPrev, #navThumbNext {
  text-align: center;
  margin: 1em auto;
}

#imageToolBar {
  height: 25px;
}

#imageInfoBar {
  float: right;
  clear: right;
  width: 25%;
}

#randomButtons ul {
  padding: 0;
  list-style-type: none;
}

#imageInfos dt, #imageMeta dt {
  font-weight: bold;
}
#imageInfos dd, #imageMeta dd {
  margin-left: 1em;
  overflow: hidden;
}

#theImage {
  float: left;
  width: 75%;
  text-align: center;
  padding: 1em 0 2em;
  margin: 0 auto;
  overflow: hidden;
}

#rateForm {
  margin: 0;
}
#rateForm input, #rateForm input:active {
  cursor: pointer;
  border: none;
  padding: 0;
}
#rateForm input.rateButtonStarFull  {
  background:  url('icon/rating-stars.png') no-repeat scroll -16px center;
  width: 16px;
}
#rateForm input.rateButtonStarEmpty {
  background:  url('icon/rating-stars.png') no-repeat scroll 0 center;
  width: 16px;
}

/* slideshow */

#slideshow {
  margin: 1em auto;
}
#slideshow .titrePage {
  width: 600px;
  margin: 0 auto;
}

#slideshow .navButtons {
  display: inline;
  font-size: 1em;
  float: right;
  margin-right: 1em;
}
#slideshow #theImage {
  float: none;
  width: 100%;
}

/* comments */

#theComments h3 {
  height: 25px;
  line-height: 25px;
  padding-left: 1em;
  cursor: pointer;
}

#commentAdd, #commentList {
  width: 48%;
  padding: 1%;
}
#commentAdd  { float: left; }
#commentList { float: right; }

#commentAdd input[type="text"], #commentAdd textarea {
  width: 400px;
}

#commentList ul {
  list-style: none;
  padding: 0;
}
#commentList li {
  clear: both;
  display: block;
  border-top: 1px dotted #606060;
  padding: 0.5em 0;
}
#commentList li ul {
  list-style-type: none;
  padding: 4px;
}

ul.actions {
  float: right;
}

#commentList .author {
  font-weight: bold;
  font-variant: small-caps;
}
#commentList .date {
  font-style: italic;
}

#theCommentsPage #comments li {
  list-style: none;
  display: table-row;
}

#theCommentsPage form label {
  display: inline-block;
  line-height: 25px;
}

#comments .description {
  vertical-align: top;
  display: inline-block;
}
#comments .illustration {
  width: auto;
}

/* calendar */

.calendarViews, .calendarCalBar {
  margin: 1em 0;
}

.calCalHead {
  font-size: 1.1em;
  font-weight: bold;
}

.calMonth {
  width: 80%;
  margin: 1em auto;
}

.calendarBar {
  text-align: center;
}
.calendarBar span {
  margin: 0 0.5em;
}

/* Footer */

#copyright {
  padding: 2px;
  clear: both;
}

/* PWG stuff */

.personal_block { padding: 0 !important; }


/*  */

@media only screen and (max-width: 957px) {
  #the_page {
    width: 100%;
    margin: 0;
  }

  #thePicturePage #content {
    position: relative;
  }

  #theHeader { margin: 0 1em; }
  .titrePage { margin: 1em; }

  #theImage {
    width: 100%;
    float: none;
  }

  #imageInfoBar {
    float: none;
    clear: both;
    width: 100%;
    margin: 0 10px;
  }
  #navThumbPrev, #navThumbNext {
    float: left;
    margin: 1em;
  }
}

