/* Grey theme for the simple template
   author: Saïmon <contact at saimon org>
*/

body {
  background-color: #333;
  color: #999;
}

#content {
  background-color: #3F3F3F;
  border: 2px #606060 solid;
  border-width: 2px 0;
}

.totalImages {
  font-style: italic;
  margin-top: 0;
}

a {
  color: #999;
}
a:hover, #menuswitcher:hover, #theComments h3:hover {
  color: #f0f0f0;
}

.titrePage, .titrePage a {
  font-weight: bold;
  text-transform: uppercase;
  font-variant: normal;
}

h2, h3, #menubar dt {
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-weight: bold;
}

#copyright {
  font-variant: small-caps;
  text-transform: lowercase;
}

/* page content :  thumbnails */

#thumbnails {
  font-weight: bold;
}
.thumbnail {
  border: 2px #606060 solid;
}
.thumbnail:hover {
  border: 2px #f0f0f0 solid;
}
#thumbnails p {
  margin: 0;
}

/* page content :  categories thumbnails */

.illustration img {
  border: 2px #606060 solid;
}

.illustration img:hover {
  border: 2px #f0f0f0 solid;
}

.thumbCatDesc {
  border-top: 1px #606060 solid;
  text-align: justify;
}

.pageNumberSelected {
  font-weight: bold;
  border-bottom: 1px solid;
}

.navigationBar a {
  border-bottom: 1px dotted;
}

/* inputs */

input, select, textarea {
  background-color: #666;
  border: 1px solid #999;
  color: #F0F0F0;
}

input[type="submit"], input[type="reset"] {
  background-color: #3f3f3f;
  border: 1px solid #606060;
  color: #999;
}
input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #666;
  border: 1px solid #999;
  color: #F0F0F0;
}

fieldset {
  border: 1px #606060 dotted;
  margin: 0 0 1em;
  padding: 1em;
}

fieldset legend {
  padding: 0 3px;
}

fieldset li {
  margin: 0.5em 0;
}

#quicksearch #q {
  background-color: #3f3f3f;
  border: 1px solid #606060;
  color: #999;
}

/* picture page */

.imageNumber {
  border: 1px #999 solid;
}

#theImage img {
  border: 8px #fff solid;
}
#theImage p {
  margin: 1em;
}

#navThumbPrev img, #navThumbNext img {
  border: 2px #606060 solid;
}
#navThumbPrev img:hover, #navThumbNext img:hover {
  border: 2px #f0f0f0 solid;
}

/* Comments */

#theComments h3 {
  border-top: 2px solid #606060;
}

.commentList .author, .commentList .date {
  font-weight: bold;
}


/* calendar */

.calMonth td {
  background-color: #363636;
  text-align: center;
}

.calImg {
  text-align: center;
}
.calImg img {
  height: 80px;
}

.calBackDate, .calForeDate {
  display: none;
}

/* tags */

#fullTagCloud a:hover {
  background: #606060;
}

#menuTagCloud span {
  margin: 0;
}

.nbEntries {
  text-align: right;
}

.mandatorystar {
  color: #e04040;
}

/* help */

.errors {
  border: 2px solid #A04040;
  color: #A04040;
}
.errors a {
  color: #FF0000;
  font-weight: bold;
}

.infos {
  border: 2px solid #40A040;
  color: #40A040;
}
.infos a {
  color: #00FF00;
  font-weight: bold;
}
